// html{
//   overflow: hidden;
// }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Bodoni-Book";

  color: $primary-clr;
}
h1 {
  color: $primary-clr;
  font-family: "Bodoni-Book";

  font-size: 4.5vw;
}
html {
  scroll-behavior: smooth;
}
ul li,
p,
a {
  font-size: 1rem;
  line-height: 1.6;
  font-family: "Montserrat-Regular";
  color: $black;
}

ul {
  padding-left: 0;
  li {
    list-style: none;
  }
}

a {
  /* display: block; */
  text-decoration: none;
  transition: all 0.4s ease-in-out;
}
a:hover {
  color: $primary-clr;
}
p {
  transition: all 0.4s ease-in-out;
}
.btn:focus{
  box-shadow: none;
}
// p {
//   span {
//     color: $secondary-clr;
//   }
// }
section {
  padding: 3rem 0;
  overflow-y: visible;
  position: relative;
}

// .text-highlight {
//   color: #bf5d04;
// }

table {
  // font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}