$black: #000;
$white: #fff;
$dark-clr:#002947;
$bg-light:#EFECE4;
$primary-clr: #ff0a0a;
$secondary-clr: #332715;
// $tertiary-clr: #e2dedc;
// $quaternary-clr:#ff1874;
// $fourth-clr:#00FFFF;
// $gredient-clr:linear-gradient(90deg, #9e005d 0%, #4e2b93 100%);

$font-p-size:1rem;
$font-cmn-size:1.2rem;
$font-h-size:3.5vw;
